name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write # Required for npm publish using OpenID Connect (OIDC)
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install
      - run: bun test
      - run: bun run build
      - run: npm publish --access public
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/**
            README.md
            LICENSE
